---
import { Image } from 'astro:assets';
import LayoutIndex from "../layouts/LayoutIndex.astro";
import ProjectCard from '../components/projectCard.astro';
import TableSection from  '../components/tableSection.astro';
import Table from '../components/table.astro';
import TableRow from '../components/tableRow.astro';
import Avatar from '../components/Avatar.astro';
import Button from '../components/Button.astro';

// page assets
import circled from "../images/2024/circled.svg";
import d2lLogo from "../images/2024/logo-death-2-lorem.svg";

// work
import analyticsChats from "../images/2024/work/command-ai/analytics-chats.png";
import analyticsNPS from "../images/2024/work/command-ai/analytics-nps.png";
import copilotAPIs from "../images/2024/work/command-ai/copilot-apis.png";
import copilotWorkflows from "../images/2024/work/command-ai/copilot-workflows.png";
import copilotXray from "../images/2024/work/command-ai/copilot-xray.png";
import nudgeEdit from "../images/2024/work/command-ai/nudge-edit.png";
import nudgeTheme from "../images/2024/work/command-ai/nudge-theme.png";
import themesEdtior from "../images/2024/work/command-ai/themes-editor.png";
import nudgeIndex from "../images/2024/work/command-ai/nudge-index.png";
import nudgeStep from "../images/2024/work/command-ai/nudge-step.png";
import blocks from "../images/2024/work/command-ai/blocks.png";
import menus from "../images/2024/work/command-ai/menus.png";
import modals from "../images/2024/work/command-ai/modals.png";
import nav from "../images/2024/work/command-ai/nav.png";

---

<LayoutIndex title="Home">
    <div class="hero flex flex-col gap-8 lg:gap-[96px] my-8 lg:my-24 text-center lg:text-left items-center lg:items-start">
        <Avatar></Avatar>
        <div>
            <h1 class="anim-entry anim--headline text-[28px] lg:text-[64px] font-[380] leading-[104%] -tracking-[.75px] mb-4 text-balance" style="text-wrap: balance;">
            Tyler is a product designer, builder, and <span class="text-[#909090]">recovering software engineer</span> from the Pacific Northwest.
            </h1>
            <div class="anim-entry anim--byline text-[20px] lg:text-[22px] text-[#909090] font-[338] -tracking-[.8px]" style="text-wrap: balance;">Likes: design, code, running, old houses, history, and learning new things.</div>
        </div>
        <div class="anim-entry anim-tldr tldr font-[377] text-[20px] lg:text-[24px] relative select-none">
            tl;dr ↓
            <Image 
                src={circled}
                class="absolute top-0 lg:top-[2px] -left-4 lg:-left-4 w-[90px] max-w-[500px]"
                alt="Tyler Wanlass signature" 
            />
        </div>
    </div>
    <div class="anim-entry anim--body-index flex flex-col gap-12 lg:gap-24">
        <!-- Section: CV -->
        <TableSection title="Work">
            <Table>
                <TableRow date="2024 – Now" title="Design ✌️" subtitle="Amplitude" subtitleLink="https://amplitude.com">
                    <div slot="after-title">
                        <div class="w-2 h-2 bg-[#EFE500] absolute -left-[184px] top-[10px] animate-ping"></div>
                        <div class="w-2 h-2 bg-[#EFE500] absolute -left-[184px] top-[10px]"></div>
                    </div>
                </TableRow>
                <TableRow date="2022 – 2024" title="Lead Product Designer" subtitle="Command AI" subtitleLink="https://command.ai">
                    <div slot="after-link">
                        &nbsp;(acquired by Amplitude)
                    </div>
                </TableRow>                    
                <TableRow date="2016 – 2021" title="VP of Design" subtitle="Buffer" subtitleLink="https://buffer.com" />
                <TableRow date="2013 – 2016" title="Co-founder, Principal Designer" subtitle="We Are Altitude" />
                <TableRow date="2012 – 2012" title="Entrepreneur in Residence" subtitle="CreativeHQ" />
            </Table>
            <Button title="LinkedIn" link="https://www.linkedin.com/in/twanlass/"></Button>
        </TableSection>

        <!-- Section: Speaking -->
        <TableSection title="Speaking">
            <Table>
                <TableRow date="2024" title="“On guerrilla research tactics”" titleLink="https://podcast.userinterviews.com/episodes/149-research-tactics-for-designers-pms-with-tyler-wanlass-of-commandbar" subtitle="Awkward Silences" tag="Podcast" />
                <TableRow date="2020" title="“The Role of Design on Product Teams”" titleLink="https://betterproduct.libsyn.com/the-business-impact-of-product-design-the-role-of-design-on-product-development-with-tyler-wanlass-buffer" subtitle="Better Product" tag="Podcast" />
            </Table>
        </TableSection>
        
        <!-- Section: Side projects -->
        <TableSection title="Side projects">
            <Table>
                <TableRow date="2024" title="Death 2 Lorem" titleLink="https://death2lorem.com" subtitle="Figma gen AI plugin">
                    <Image 
                        src={d2lLogo}
                        class="absolute -top-2 left-[138px] rotate-6 drop-shadow-xl hidden lg:block"
                        alt="Death 2 Lorem" 
                    />
                </TableRow>
                <TableRow date="2022" title="Simple Goods" titleLink="https://simplegoods.co" subtitle="Ecommerce SaaS (Acquired)" />
                <TableRow date="2022" title="Renovating Old Houses" titleLink="https://oldhousebook.com/" subtitle="Ebook" />
                <TableRow date="2022" title="Unframes" titleLink="https://unfram.es/" subtitle="Physical product" />
            </Table>
        </TableSection>

        <!-- Section: work -->
        <div class="section flex flex-col gap-6" id="design">
            <div class="flex flex-col gap-2">
                <h2 class="text-[24px] lg:text-[32px] font-[490] leading-[115%] -tracking-[.8px]">Design</h2>
                <p class="text-[16px] lg:text-[18px] font-[360] text-[#909090]">2024 work samples</p>
            </div>
            <div class="grid grid-cols-1 gap-4 lg:gap-8">
                <!-- #8989FF // purple -->
                <!-- #FDD19B // orange -->
                <!-- #E89BFD // pink -->
                <!-- #9BF1FD // blue -->
                <ProjectCard img={nudgeTheme} caption="Inline theme editing experience" project="Command AI" cardStyles="bg-[#8989FF]" />
                <ProjectCard img={copilotWorkflows} caption="Natural language workflow builder for AI agents" project="Command AI" cardStyles="bg-[#9BF1FD]" />
                <ProjectCard img={copilotAPIs} caption="API editor for AI agents" project="Command AI" cardStyles="bg-[#FDD19B]" />
                <ProjectCard img={themesEdtior} caption="Theme editor for styling embedded widgets" project="Command AI" cardStyles="bg-[#E89BFD]" />
                <ProjectCard img={modals} caption="Modals and popovers" project="Command AI" cardStyles="bg-[#8989FF]" imgStyles="img-transform img-shadow" />
                <div class="grid grid-cols-2 gap-4 lg:gap-8">
                    <ProjectCard img={nav} caption="App nav" project="Command AI" cardStyles="bg-[#9BF1FD]" imgStyles="img-transform img-shadow" />
                    <ProjectCard img={nudgeStep} caption="Nudge builder UI" project="Command AI" cardStyles="bg-[#FDD19B]" imgStyles="img-transform img-shadow" />
                </div>
                <ProjectCard img={analyticsChats} caption="Analytics dashboard for an AI agent" project="Command AI" cardStyles="bg-[#8989FF]" />
                <ProjectCard img={nudgeEdit} caption="Editor to build tours, announcements, and surveys" project="Command AI" cardStyles="bg-[#E89BFD]" />
                <ProjectCard img={nudgeIndex} caption="Dashboard index view" project="Command AI" cardStyles="bg-[#9BF1FD]" />
                <ProjectCard img={analyticsNPS} caption="Analytics dashboard detail for NPS surveys" project="Command AI" cardStyles="bg-[#8989FF]" />    
                <ProjectCard img={copilotXray} caption="AI agent response inspection tool (Xray)" project="Command AI" cardStyles="bg-[#FDD19B]" />
                <ProjectCard img={blocks} caption="Nudge builder blocks" project="Command AI" cardStyles="bg-[#E89BFD]" imgStyles="img-transform img-shadow" />
                <ProjectCard img={menus} caption="Menus" project="Command AI" cardStyles="bg-[#9BF1FD]" imgStyles="img-transform img-shadow" />
            </div>
        </div>
    </div>
</LayoutIndex>